/**
 * oneniceapp - nice dev tool
 * @version v0.0.1
 * @author nice-fe
 */
 .main-top{margin:30px 0}.main-top .left{float:left}.main-top .right{float:right}.main-top .right img{display:block}.content{margin:0 auto;background:#ffd600;overflow:hidden}.content .left{width:530px;line-height:24px}.content .left .left-content{padding:15px 44px 0 36px}.content .left h2{font-size:24px;color:#141213;margin:16px 0;font-weight:400}.content .left p{font-size:14px;color:#616161}.content .right{width:462px}.content .right img{display:block}